#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 10%;
  min-height: 100vh;
}

.about-subtitle {
  margin-top: -30px;
  color: white;
  font-size: 55px;
  font-family: "NTR", sans-serif;
  font-style: normal;
  font-weight: bold;
  border-radius: 10px;
  line-height: 69px;
}

.about-desc {
  color: white;
  font-size: 25px;
  max-width: 60%;
  padding-bottom: 50px;
  padding-top: 30px;
  font-family: "NTR", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 43px;

}


.about-image {
  padding-left: 1200px;
  margin-top: -150px;
}

.about-image img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: 2px solid #ff4c29;
}

@media only screen and (max-width: 400px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3%;
    padding-top: 8%;
    min-height: 100vh;
  }

  .about-subtitle {
    margin-top: -30px;
    color: white;
    font-size: 200%;
    font-family: "NTR", sans-serif;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
    line-height: 69px;
  }

  .about-desc {
    color: white;
    font-size: 20px;
    width: 25%;
    padding-bottom: 50px;
    padding-top: 30px;
    font-family: "NTR", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;

  }


  .about-image {
    padding-left: 1%;
    margin-top: 1%;
  }

  .about-image img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: 2px solid #ff4c29;
  }
}