#nav a {
  display: inline;
  width: 3000px;
  padding-left: 35px;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  font-size: 30px;

}

#nav {
  position: fixed;
  padding-left: 750px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 20%;
  min-height: 100vh;
}

.intro-subtitle {
  font-family: "NTR", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.intro-desc {
  color: white;
  font-family: "NTR", sans-serif;
  font-size: 25px;
  max-width: 60%;
  padding-bottom: 50px;
  padding-top: 30px;
}

b {
  font-size: 17px;
}
@media only screen and (min-width: 800px) {

  /*after 700px*/
  #nav a {
    display: inline;
    width: 3000px;
    padding-left: 5%;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }

  #nav {
    position: fixed;
    padding-left: 40%;
  }

  #intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 20%;
    min-height: 100vh;
  }

  .intro-subtitle {
    font-family: "NTR", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  .intro-desc {
    color: white;
    font-family: "NTR", sans-serif;
    font-size: 20px;
    max-width: 60%;
    padding-bottom: 50px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 700px) {

  /*before 700px*/
  #nav a {
    display: inline;
    width: 3000px;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }

  #nav {
    position: fixed;
    padding-left: 700px;
  }

  #intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 20%;
    min-height: 100vh;
  }

  .intro-subtitle {
    font-family: "NTR", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  .intro-desc {
    color: white;
    font-family: "NTR", sans-serif;
    font-size: 20px;
    max-width: 60%;
    padding-bottom: 50px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 400px) {

  /*before 400px*/
  #nav a {
    display: inline;
    width: 100%;
    padding-left: 4%;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 19px;
  }

  #nav {
    position: fixed;
    padding-left: 5%;
  }

  #intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1%;
    padding-top: 50%;
    min-height: 100vh;
  }

  .intro-subtitle {
    font-family: "NTR", sans-serif;
    font-size: 250%;
    font-weight: bold;
    color: white;
    width: 89%;
  }

  .intro-desc {
    color: white;
    font-family: "NTR", sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 300%;
  }

}